*{
	font-family:"segoe ui";
	color:#33333c;
	user-select:none;
}
body{
	display:flex;
	flex-flow:column;
	align-items:center;
	background:#fdfdfd;
}
form h3{
	font-weight:500;
	margin:10px 0;
}
.sections{
	width:720px;
	background:#fff;
	box-shadow:2px 2px 7px rgba(0,0,0,.07);
	padding:20px;
	border-radius:10px;
	margin:20px 0;
	position:relative;
}
.input-text{
	width:100%;
	border-radius:6px;
	padding:7px 10px;
	font-size:16px;
	outline:none;
	border:solid 2px #eee;
	font-weight:500;
}
.input-text::placeholder{
	color:#ccc;
	font-weight: 400
}
.input-text:focus{
	border-color:#00abff;
}

/*---RADIO CUSTOM---*/
.radio-label{display:flex;padding:8px 0;}
.input-radio{
	display:none;
}
.radio-custom{
	cursor:pointer;
	width:18px;
	height:18px;
	border-radius:50%;
	border:solid 2px #44444c;
	background:#fff;
	display:flex;
	justify-content:center;
	position:relative;
}
.input-radio:checked + .radio-custom{
	border-color:#00abff;
}
.radio-custom:after, .radio-custom:before{
	content:"";
	display:block;
	width:0;
	height:0;
	border-radius:50%;
	background:#00abff;
	align-self:center;
	transition:.1s;
}
.radio-custom:before{
	height:47px;
	width:47px;
	background:#00abff;
	position:absolute;
	top:-14px;
	left:-14px;
	z-index:1;
	opacity:0;
}
.input-radio:checked + .radio-custom:after{
	width:12px;
	height:12px;
}
.input-radio:active + .radio-custom:before{
	opacity:.22;
}
.radio-content{
	margin:0 0 0 10px;
}

/*---CHECKBOX CUSTOM---*/
.checkbox-label{display:flex;padding:8px 0;}
.input-checkbox{display:none;}
.checkbox-custom{
	width:17px;
	height:17px;
	border-radius:4px;
	border:solid 2px #44444c;
	position:relative;
	background:#fff;
	cursor:pointer;
}
.checkbox-custom:before, .checkbox-custom:after{
	content:"";
	position:absolute;
}
.checkbox-custom:before{
	height:47px;
	width:47px;
	background:#00abff;
	z-index:0;
	border-radius:50%;
	top:-15px;
	left:-15px;
	opacity:0;
}
.checkbox-custom:after{
	border:solid 2px #00abff;
	border-width:0 0 2px 2px;
	display:none;
	height:0px;
	width:1px;
	transform:translate(2px,5px) rotate(-45deg);
	animation:tick linear .1s forwards;
}
@keyframes tick{
	50%{
		height:7px;
		width:1px;
		transform:translate(5px,5px) rotate(-45deg);
	}
	100%{
		height:7px;
		width:11px;
		transform:translate(2px,2px) rotate(-45deg);
	}
}
.input-checkbox:checked + .checkbox-custom{
	border-color:#00abff;
}
.input-checkbox:checked + .checkbox-custom:after{
	display:block;
}
.input-checkbox:active + .checkbox-custom:before{
	opacity:.22;
}
.checkbox-content{
	padding:0 0 0 10px;
}

/*---TEXT SELECTION---*/
.text-select{
	position:relative;
}
.sugestions{
	position:absolute;
	border-radius:6px;
	background:#fff;
	box-shadow: 1px 1px 7px rgba(0,0,0,.1);
	border:solid 1px #eee;
	width:100%;
	margin-top:5px;
	overflow:hidden;
	display:none;
	z-index:1;
}
.hienthi{
	display:block;
}
.sugestions > .selection{
	padding:8px;
	font-weight:500;
	text-transform:lowercase;
}
.sugestions > .selection:hover{
	background:#00abff;
	cursor:pointer;
	color:#fff;
}


/*---SELECTION---*/
.select{
	border:solid 2px #eee;
	border-radius:6px;
	position:relative;
}
.default-option{
	padding:7px 15px;
}
.options{
	padding:8px 15px;
}
.options:hover{
	background:#00abff;
	color:#fff;
	cursor:pointer;
}
.other-opts{
	position:absolute;
	background:#fff;
	border-radius:6px;
	width:100%;
	top:40px;
	box-shadow:1px 1px 7px rgba(0,0,0,.1);
	overflow:hidden;
	height:0;
	transition:.2s;
}
.active{
	height:148px !important;
}
.all-options{
	height:148px;
	overflow:auto;
}
.all-options::-webkit-scrollbar{
	width:5px;
}
.all-options::-webkit-scrollbar-thumb{
	background:#ddd;
}


/*---SUBMIT---*/
#submit{
	background:linear-gradient(120deg,#00bbff,#00a0ff,#0077ff);
	background-size:170%;
	color:#fff;
	font-weight:500;
	font-size:1.16em;
	padding:8px 17px;
	border:0;
	border-radius:50px;
	cursor:pointer;
	box-shadow:1px 2px 7px #0077ff64;
	transition:.2s;
	outline:none;
}
#submit:hover{
	background-position: 100% 0;
	box-shadow:1px 2px 7px #0077ff99;
}

#footer{
	margin-top:100px;
}